.vs
.vscode
api-pos-biblioteca/bin
api-pos-biblioteca/obj
api-pos-categoria/bin
api-pos-categoria/obj
api-pos-gateway/bin
api-pos-gateway/obj
api-pos-usuario/bin
api-pos-usuario/obj
api-pos-articulo/bin
api-pos-articulo/obj
api-pos-compra/bin
api-pos-compra/obj
api-pos-reporte/bin
api-pos-reporte/obj
api-pos-persona/bin
api-pos-persona/obj
obj
logs
